{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MATERI TRANSFORMASI GEOMETRI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

<body>
    <!--bagian navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color:#BDB76B;">
      <div class="container-fluid">
        <img src="{% static 'logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'index' %} active {% endif %}" aria-current="page" href="{% url 'index' %}" style="color:	#FFFFFF">UNTIRTA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'profile' %} active {% endif %}" href="{% url 'profile' %}" style="color:	#FFFFFF">PROFILE</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:	#FFFFFF">
                MATERI
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color:#BDB76B;">
                <li><a class="dropdown-item {% if dropdown == 'applet' %} active {% endif %}" href="{% url 'applet' %}" style="color:	#000000">APPLET GEOGEBRA</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab1' %} active {% endif %}" href="{% url 'bab1' %}" style="color:	#000000">BAB 1</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab2' %} active {% endif %}" href="{% url 'bab2' %}" style="color:	#000000">BAB 2</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab3' %} active {% endif %}" href="{% url 'bab3' %}" style="color:	#000000">BAB 3</a></li>

                <li><a class="dropdown-item {% if dropdown == 'bab4' %} active {% endif %}" href="{% url 'bab4' %}" style="color:	#000000">BAB 4</a></li>

              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'about' %} active {% endif %}" href="{% url 'about' %}" style="color:#FFFFFF"">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'mahasiswa' %} active {% endif %}" href="{% url 'mahasiswa' %}" style="color:	#FFFFFF">DATA MAHASISWA</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success" type="submit" style="color:#FFFFFF">Search</button>
          </form>
        </div>
      </div>
    </nav>
      <!--penutup navbar-->

      <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <br></br>
  <section class="container">

<center>  
  <font size="8"><strong>BAB II</strong></font>
  <br>
  <h2><strong>REFLEKSI</strong></h2>
  <br>
    <iframe style="width: 500px;height: 300px;"type="text/html" src="https://www.youtube.com/embed/qT9pr1C_SDY" frameborder="5"></iframe>
</center>
      <br> 
    <h3><strong>A. URAIAN MATERI</strong></h3>
      <br>
    <h3><strong>1. Pengertian</strong></h3>
      <p>Refleksi (pencerminan) adalah suatu transformasi yang memindahkan tiap titik pada bidang dengan menggunakan sifat bayangan oleh suatu cermin. Refleksi disimbolkan dengan Ma dengan a merupakan sumbu cermin.</p>
      <br>
    <h3><strong>2. Sifat-sifat Refleksi</strong></h3>
      <p>- Jarak dari titik asal ke cermin sama dengan jarak cermin ke titik bayangan</p>
      <p>- Garis yang menghubungkan titik asal dengan titik bayangan tegak lurus terhadap cermin</p>
      <p>- Garis-garis yang terbentuk antara titik-titik asal dengan titik-titik bayangan akan saling sejajar</p>
      <br>
    <h3>3. Jenis-jenis Refleksi</h3>
      <p>- Refleksi terhadap sumbu x</p>
      <p>- Refleksi terhadap sumbu y</p>
      <br>
    <h4><strong>B. LATIHAN SOAL</strong></h4>
      <p>1. Titik A (3, -5) dicerminkan terhadap titik asal (0, 0). Tentukan koordinat bayangan titik A!</p>
      <p>2. Titik P (5, -4) dicerminkan terhadap garis 𝑦 = x. Tentukan koordinat bayangan titik P!</p>
      <p>3. Titik Q (-3, 7) dicerminkan terhadap garis y = -x. Tentukan koordinat bayangan titik Q!</p>
      <p>4. Titik S (4, 7) dicerminkan terhadap garis y = 2. Tentukan koordinat bayangan titik S!</p>
      <p>5. Tentukan koordinat titik asal pada titik B` (5, 2) setelah direfleksi terhadap garis x = 3!</p>

  <br>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>